*{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.card{
	width: 20%;
	display: inline-block;
	margin-left: 1%;
	margin-top: 1%;
}

@media (max-width: 1082px) {
  .card{
    width: 32%;
  }
}


@media (max-width: 770px) {
  .card {
    width: 49%;
  }
}

@media (max-width: 480px) {
  .card {
    width: 98%;
  }

  #search{
  	width: 70%;
  	margin-left: 0px;
  }

  #search_button{
  	width: 20%;
  }
}

p{
	text-align: justify;
}

h5, h1{
	text-align: center;
}

#search{
	width: 50%;
	margin: 2%;
	margin-left: 15%;
	height: 45px;
}

#search_button{
	width: 15%;
	margin: 2%;
	margin-left: 1%;
}

.contenedor{
	background: #CED7D7;
	box-shadow: 5px 5px 30px #999;
	border-radius: 5px;
	border: solid #fff;
	margin-top: 10px;
	background: #fff;
	width: 80%;
	margin-left: 10%;
	margin-left: auto;
	margin-right: auto;
}