*{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

body{
	width: 100%;
	text-align: justify;
}

.marketing{
	margin-top: 3%;
}

.img-circle{
	margin-left: 100px;
	margin-bottom: 4%
}

.btn-default{
	margin-bottom: 3%;
}

.featurette-divider{
	background: #3DA472;
	height: 3px;
}

.types{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 1.4;
	margin-left: 20%;
	font-weight: 300;
}